<div class="text-center panel-title border rounded">Tagok <mat-icon>groups</mat-icon></div>
<div class="members">
  <form (submit)="filter()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Szűrés</mat-label>
      <input matInput name="filterValue" type="text" placeholder="Szűrés" [(ngModel)]="filterValue" />
    </mat-form-field>
  </form>
  <div class="table">
    <app-event-member-item
      *ngFor="let member of filteredMembers"
      [eventMember]="member"
      [accessLevel]="accessLevel"
      [userId]="userId"
      [event]="event"
      (delete)="deleteEventMember($event)"
      (update)="updateEventMember($event)"
    >
    </app-event-member-item>
  </div>
  <button
    mat-raised-button
    color="primary"
    [disabled]="event.isLocked === true || event.isLocked == true"
    (click)="openAddMemberModal()"
    *ngIf="accessLevel >= 3"
    title="Új esemény tag felvétele"
  >
    Új tag felvétele
  </button>
</div>
