@import 'src/variables.scss';

.summary {
  .col-12 {
    margin: 0;
    padding: 0;
  }
  .element {
    padding: 0.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .output {
    background-color: $red-light;
  }

  .input {
    background-color: $green-light;
  }

  .summary {
    background-color: $yellow-light;
  }

  button {
    margin: 0.2rem;
  }

  .clickable {
    cursor: pointer;
  }
}
