<div class="col col-12 row panel">
  <div class="col col-12 col-sm-4 col-lg-2 menu">
    <div class="gts border rounded">
      <div class="title text-center border rounded">Gólyatáboraid</div>
      <div
        *ngFor="let gt of gts"
        class="gt rounded"
        [routerLink]="['/gts', gt.id, currentPage]"
        routerLinkActive="router-link-active"
        [ngClass]="{ purple: gt.id === +currentGtId }"
      >
        {{ gt.year }}
      </div>
      <div class="event rounded" *ngIf="!currentGt.id">
        Nincs gólyatáborod :(
      </div>
    </div>
    <div class="menuitems border rounded">
      <div class="title text-center border rounded">Menü</div>
      <div *ngFor="let item of menuItems">
        <div
          class="item rounded"
          [routerLink]="['/gts', currentGtId, item.link]"
          routerLinkActive="router-link-active"
          [ngClass]="{ purple: item.link === currentPage }"
          *ngIf="item.accessLevel <= accessLevel"
        >
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
  <div class="col col-12 col-sm-8 col-lg-10 changer" *ngIf="currentGt">
    <mat-card class="card">
      <div [ngSwitch]="currentPage">
        <app-gt-details
          *ngSwitchCase="'details'"
          [gt]="currentGt"
          [accessLevel]="accessLevel"
          (lock)="lockGt($event)"
        ></app-gt-details>
        <app-gt-csomor *ngSwitchCase="'csomor'" [gt]="currentGt"></app-gt-csomor>
        <app-gt-chat *ngSwitchCase="'chat'" [gt]="currentGt"></app-gt-chat>
        <app-gt-generator *ngSwitchCase="'generator'" [gt]="currentGt"></app-gt-generator>
        <app-gt-settings *ngSwitchCase="'settings'" [gt]="currentGt"> </app-gt-settings>
        <app-gt-summary *ngSwitchCase="'summary'"></app-gt-summary>
        <app-gt-todoes *ngSwitchCase="'todo'" [gt]="currentGt"></app-gt-todoes>
        <app-gt-members *ngSwitchCase="'members'" [gt]="currentGt" [accessLevel]="accessLevel"> </app-gt-members>
        <app-gt-classes *ngSwitchCase="'classes'" [gt]="currentGt"></app-gt-classes>
      </div>
    </mat-card>
  </div>
</div>
