.details {
  .element {
    .name {
      font-weight: bold;
    }
  }

  .unready {
    color: red;
    font-weight: bold;
  }

  .ready {
    color: green;
    font-weight: bold;
  }

  button {
    margin: 0.2rem;
  }
}
