<form mat-dialog-content [formGroup]="form">
  <div class="text-center panel-title border rounded">{{ title }}</div>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Név</mat-label>
    <input matInput type="text" placeholder="Név" formControlName="name" />
    <mat-error *ngIf="form.get('name').hasError('required')">A név megadása kötelező!</mat-error>
    <mat-error *ngIf="form.get('name').hasError('maxlength')">A név maximum hossza 5 karakter!</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline" *ngIf="isEdit">
    <mat-label>Poló</mat-label>
    <input matInput type="text" placeholder="Poló" formControlName="tShirtColor" />
    <mat-error *ngIf="form.get('tShirtColor').hasError('required')">A poló szín megadása kötelező!</mat-error>
    <mat-error *ngIf="form.get('tShirtColor').hasError('maxlength')"
      >A poló szín maximuma hossza 50 akrakter!</mat-error
    >
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline" *ngIf="isEdit">
    <mat-label>Osztályfőnök</mat-label>
    <input matInput type="text" placeholder="Osztályfőnök" formControlName="classMaster" />
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">
    Mentés
  </button>
  <button mat-raised-button color="accent" (click)="onNoClick()">Mégsem</button>
</div>
