.details {
  .element {
    .name {
      font-weight: bold;
    }
  }

  .big-title {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }

  button {
    margin: 0.2rem;
  }
}
