@import 'src/variables.scss';

.details {
  .element {
    .name {
      font-weight: bold;
    }
  }

  .big-title {
    font-weight: bold;
    font-size: $menu-font-size;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  button {
    margin: 0.2rem;
  }
}
