@import 'src/variables.scss';

.item {
  margin: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
}

.level1 {
  background-color: $primary-lighter;
  transition-duration: 0.75s;

  &:hover {
    transition-duration: 0.75s;
    background-color: $primary-light;
    color: $white;
  }
}

.level2 {
  background-color: $orange;
  transition-duration: 0.75s;

  &:hover {
    transition-duration: 0.75s;
    background-color: $accent;
    color: $white;
  }
}

.level3 {
  background-color: $green-light;
  transition-duration: 0.75s;

  &:hover {
    transition-duration: 0.75s;
    background-color: $green;
    color: $white;
  }
}
