<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title" [routerLink]="['/home']" routerLinkActive="activeMenu">CsömörMaker</span>
    <div [ngSwitch]="isMobielView" class="w-100">
      <div *ngSwitchCase="true">
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="mobilemainmenu" class="float-right">&#9776;</button>
        <mat-menu #mobilemainmenu="matMenu">
          <button mat-menu-item [routerLink]="['/login']" routerLinkActive="activeMenu" *ngIf="!isLoggedIn">
            Bejelentkezés
          </button>

          <button mat-menu-item [routerLink]="['/registration']" routerLinkActive="activeMenu" *ngIf="!isLoggedIn">
            Regisztráció
          </button>

          <button mat-menu-item [matMenuTriggerFor]="mobileprofilemenu" *ngIf="isLoggedIn">
            Profil
          </button>
          <mat-menu #mobileprofilemenu="matMenu">
            <button mat-menu-item [routerLink]="['/my-profile']" routerLinkActive="activeMenu">Profilom</button>
          </mat-menu>

          <button mat-menu-item [matMenuTriggerFor]="mobileeventmenu" *ngIf="isLoggedIn">
            Események
          </button>
          <mat-menu #mobileeventmenu="matMenu">
            <button mat-menu-item [routerLink]="['/new-event']" routerLinkActive="activeMenu">
              Új esemény létrehozása
            </button>
            <button mat-menu-item [routerLink]="['/events']" routerLinkActive="activeMenu">
              Eseményeim áttekintése
            </button>
          </mat-menu>

          <button mat-menu-item [matMenuTriggerFor]="mobilegtmenu" *ngIf="isLoggedIn">
            Gólyatáborok
          </button>
          <mat-menu #mobilegtmenu="matMenu">
            <button mat-menu-item [routerLink]="['/new-gt']" routerLinkActive="activeMenu">
              Új gólyatábor létrehozása
            </button>
            <button mat-menu-item [routerLink]="['/gts']" routerLinkActive="activeMenu">Gólyatáborok</button>
          </mat-menu>

          <button mat-menu-item [matMenuTriggerFor]="mobileadminmenu" *ngIf="isLoggedIn && isAdmin">
            Admin
          </button>
          <mat-menu #mobileadminmenu="matMenu">
            <button mat-menu-item [routerLink]="['/admin']" routerLinkActive="activeMenu">Adminisztráció</button>
          </mat-menu>

          <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn">
            Kijelentkezés
          </button>
        </mat-menu>
      </div>
      <div *ngSwitchCase="false">
        <button mat-button [routerLink]="['/login']" routerLinkActive="activeMenu" *ngIf="!isLoggedIn">
          Bejelentkezés
        </button>
        <button mat-button [routerLink]="['/registration']" routerLinkActive="activeMenu" *ngIf="!isLoggedIn">
          Regisztráció
        </button>

        <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">Profil</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/my-profile']" routerLinkActive="activeMenu">Profilom</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu1" *ngIf="isLoggedIn">Események</button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item [routerLink]="['/new-event']" routerLinkActive="activeMenu">
            Új esemény létrehozása
          </button>
          <button mat-menu-item [routerLink]="['/events']" routerLinkActive="activeMenu">Eseményeim áttekintése</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu2" *ngIf="isLoggedIn">Gólyatábor</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item [routerLink]="['/new-gt']" routerLinkActive="activeMenu">
            Új gólyatábor létrehozása
          </button>
          <button mat-menu-item [routerLink]="['/gts']" routerLinkActive="activeMenu">Gólyatáborok</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="adminmenu" *ngIf="isLoggedIn && isAdmin">
          Admin
        </button>
        <mat-menu #adminmenu="matMenu">
          <button mat-menu-item [routerLink]="['/admin']" routerLinkActive="activeMenu">Adminisztráció</button>
        </mat-menu>

        <span class="spacer"></span>

        <button mat-button (click)="logout()" *ngIf="isLoggedIn" class="float-right">Kijelentkezés</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
