.generator {
  .eventWorks {
    margin: 1rem;

    mat-expansion-panel {
      margin-top: 0.5rem;

      button {
        margin: 0.2rem;
      }
    }
    button {
      margin: 0.2rem;
    }
  }
  .eventWorkers {
    margin: 1rem;

    mat-expansion-panel {
      margin-top: 0.5rem;

      button {
        margin: 0.2rem;
      }
    }
    button {
      margin: 0.2rem;
    }
  }
}
