<div>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Poszt</mat-label>
    <mat-select [(ngModel)]="selectedWork" (selectionChange)="changeWork()">
      <mat-option [value]="i" *ngFor="let work of gtWorks; let i = index">{{ work.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <button
      mat-raised-button
      color="warn"
      *ngIf="selectedWork > 0"
      (click)="selectedWork = selectedWork - 1; getWorkTables()"
    >
      Elöző
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="selectedWork < gtWorks.length - 1"
      (click)="selectedWork = selectedWork + 1; getWorkTables()"
      class="float-right"
    >
      Következő
    </button>
  </div>
  <div class="work row col-12">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 worker-frame" *ngFor="let table of workTables">
      <div class="border rounded block">
        <div class="text-center">{{ table.worker }}</div>
      </div>
    </div>
  </div>
</div>
