.buttons {
  margin: 0;
  margin-bottom: 0.5rem;

  div {
    text-align: center;

    button {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
  }
}

.work {
  margin: 0;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  padding: 0.2rem;

  .worker-frame {
    padding: 0.2rem;

    .block {
      padding: 0.2rem;

      &:hover {
        background-color: #9a68f1af;

        transition-duration: 0.5s;
      }
    }
  }
}
