@import 'src/variables.scss';

.meetings {
  width: fit-content;
  overflow: auto;

  .buttons {
    button {
      margin: 0.2rem;
    }
  }
  .table {
    overflow: auto;
    margin: 0;
    padding: 0;
    width: fit-content !important;
    flex-wrap: unset;
    .cell {
      width: 120px;
      margin: 0.2rem;
      padding: 0.2rem;
      text-align: center;
      transition-duration: 0.75s;

      &:hover {
        background-color: $primary-lighter;
        transition-duration: 0.75s;
      }
    }
  }
}
