<mat-card class="card">
  <div class="text-center panel-title border rounded">Saját Profil <mat-icon>person</mat-icon>
  </div>
  <div *ngIf="user" class="details">
    <div class="details-block">
      <h4>Felhasználói adatok</h4>
      <div>
        <mat-icon>person</mat-icon>&nbsp;<strong>Felhasználónév: </strong>{{ user.username }}
      </div>
      <div>
        <mat-icon>person</mat-icon>&nbsp;<strong>Megjelenítendő név: </strong>{{ user.name }}
      </div>
      <div>
        <mat-icon>email</mat-icon>&nbsp;<strong>E-mail cím: </strong>{{ user.email }}
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="details-block">
      <h4>Oldal adatok</h4>
      <div><strong>Rang: </strong>{{ user.role }}</div>
      <div><strong>Utolsó belépés: </strong>{{ user.lastLogin }}</div>
      <div><strong>Regisztráció: </strong>{{ user.registrationTime }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="details-block">
      <h4>Személyes adatok</h4>
      <div><strong>Poló méret: </strong>{{ user.tShirtSize }}</div>
      <div><strong>Osztály: </strong>{{ user.class }}</div>
      <div><strong>Allergia: </strong>{{ user.allergy }}</div>
    </div>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="openModifyDialog()">Szerkesztés</button>
      <button mat-raised-button color="warn" (click)="changePassword()">Jelszó csere</button>
    </div>
  </div>
</mat-card>
