@import 'src/variables.scss';

.data-table {
  padding: 1rem;

  table {
    width: 100%;
  }
}

::ng-deep th .mat-sort-header-button {
  color: $primary;
}

th {
  color: $primary;
}

::ng-deep .data-table table mat-select .ng-star-inserted {
  font-size: 12px !important;
}
