<form mat-dialog-content [formGroup]="form">
  <div class="text-center panel-title border rounded">{{ data.username }} jelszó csere</div>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Régi jelszó</mat-label>
    <input matInput type="password" placeholder="Régi jelszó" formControlName="old" />
    <mat-error *ngIf="form.get('old').hasError('required')">A régi jelszó megadása kötelező!</mat-error>
    <mat-error *ngIf="form.get('old').hasError('maxlength')">A régi jelszó hossza maximum 50 karakter lehet!</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Új jelszó</mat-label>
    <input matInput type="password" placeholder="Új jelszó" formControlName="new" />
    <mat-error *ngIf="form.get('new').hasError('required')">Az új jelszó megadása kötelező!</mat-error>
    <mat-error *ngIf="form.get('new').hasError('maxlength')">Az új jelszó hossza maximum 50 karakter lehet!</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Új jelszó újra</mat-label>
    <input matInput type="password" placeholder="Új jelszó újra" formControlName="reNew" />
    <mat-error *ngIf="form.get('reNew').hasError('required')">Az új jelszó megadása kötelező!</mat-error>
    <mat-error *ngIf="form.get('reNew').hasError('maxlength')"
      >Az új jelszó hossza maximum 50 karakter lehet!</mat-error
    >
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">
    Mentés
  </button>
  <button mat-raised-button color="accent" (click)="onNoClick()">Mégsem</button>
</div>
