<div class="text-center panel-title border rounded">DÖK bemutatás - beállítások</div>
<div class="buttons">
  <button mat-raised-button color="primary" (click)="openPresentingDialog()">Új bemutatás</button>
</div>
<div class="presentings">
  <div class="row col col-12 blocks" *ngIf="members.length > 0">
    <app-gt-presenting-block
      class="col col-12 col-md-6"
      [member]="member"
      *ngFor="let member of members"
    ></app-gt-presenting-block>
  </div>
  <div *ngIf="members.length == 0" class="text-center">
    Sajnos még nincs semmilyen beállításod :(
  </div>
</div>
