<div class="text-center panel-title border rounded">Csömör</div>
<div class="csomor" *ngIf="event && event.ready">
  <div class="buttons">
    <button mat-raised-button color="{{ selectedMode === 1 ? 'primary' : 'accent' }}" (click)="changeSelection(1)"
      title="Személyes csömörök">
      Személyes <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button color="{{ selectedMode === 2 ? 'primary' : 'accent' }}" (click)="changeSelection(2)"
      title="Poszt csömörök">
      Poszt <mat-icon>work</mat-icon>
    </button>
  </div>
  <div [ngSwitch]="selectedMode">
    <app-event-personal-csomor *ngSwitchCase="1" [eventWorkers]="eventWorkers" [event]="event">
    </app-event-personal-csomor>
    <app-event-work-csomor *ngSwitchCase="2" [eventWorks]="eventWorks" [event]="event"></app-event-work-csomor>
  </div>
</div>
<div *ngIf="event && !event.ready" class="text-center">
  Sajnos az eseményhez nem tartozik naprakész csömör :(
</div>
