<div>
  <h2 class="text-center">CsömörMaker & EseményManager</h2>
  <div class="row col-12 main">
    <div class="col-12 col-md-8 col-xl-9">
      <div class="details">
        <mat-card>
          <div class="text-justify">
            <div class="text-center panel-title border rounded">Az oldalről</div>
            <strong>Szia! Üdv az oldalunkon!</strong>
            <p>
              Az oldalon rengeteg apróságot tudsz elvégezni, hogy a programok szervezése sokkal egyszerűbb legyen.
              Könnyedén tudtok eseményeket és/vagy gólyatáborokat létrehozni és szerkeszteni ezeket. Pénzügyi helyzetek,
              tagokat, csömört kezelhetsz, illetve beszálgethetsz a többi taggal.
            </p>
            <strong>Próbáld ki te is az oldalt! Hajrá!</strong>
          </div>
        </mat-card>
      </div>
      <div class="news">
        <mat-card>
          <app-news></app-news>
        </mat-card>
      </div>
    </div>
    <div class="col-12 col-md-4 col-xl-3">
      <div class="notifications">
        <mat-card>
          <app-notifications></app-notifications>
        </mat-card>
      </div>
    </div>
  </div>
</div>
