<div class="details">
  <div><span class="title">Név: </span>{{ worker.name }}</div>
  <div><span class="title">Felhasználó név: </span>{{ worker.username }}</div>
  <div class="statuses">
    <div class="title">Posztok:</div>
    <div class="status border rounded" *ngFor="let status of workStatuses">
      <div class="title">{{ status.work }}</div>
      <div>
        <mat-checkbox [(ngModel)]="status.isActive" (change)="setWorkStatusActive(status.workId)">Aktív?</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="status.isBoss" (change)="setWorkStatusBoss(status.workId)">
          Posztfőszervező?
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="status.isFixed" (change)="setWorkStatusFixed(status.workId)">
          Fixálva?
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
