<div
  class="col col-12 row item border rounded"
  [ngClass]="{
    level1: gtMember.accessLevel === 1,
    level2: gtMember.accessLevel === 2,
    level3: gtMember.accessLevel === 3
  }"
>
  <div class="col col-4">
    {{ gtMember.user }}
  </div>
  <div class="col col-2 text-center">
    {{ gtMember.role }}
  </div>
  <div class="col col-4 text-center">
    {{ gtMember.conncetionDate | date: 'yyyy. MM. dd. HH:mm:ss' }}
  </div>
  <div class="col col-2 text-center">
    <button
      mat-mini-fab
      color="accent"
      class="mr-1"
      (click)="openModifyDialog()"
      *ngIf="accessLevel >= 3 && gtMember.userId !== userId"
    >
      &#9998;
    </button>
    <button
      mat-mini-fab
      color="warn"
      class="ml-1"
      (click)="openDeleteConfirmDialog()"
      *ngIf="accessLevel >= 3 && gtMember.userId !== userId"
    >
      &#10006;
    </button>
  </div>
</div>
