<div class="text-center panel-title border rounded">Chat</div>
<div class="chat">
  <div class="body border rounded">
    <div *ngFor="let message of gtMessages" class="message">
      {{ message.sender }} <small>- {{ message.dateOfSent | chatDate }}</small>
      <div
        class="border rounded message-body"
        [ngClass]="{ me: message.senderId == userId, other: message.senderId != userId }"
      >
        {{ message.message }}
      </div>
    </div>
    <div class="text-center" *ngIf="!gtMessages || gtMessages.length === 0">
      Nincs megjeleníthető üzenet :(
    </div>
  </div>
  <form class="footer border rounded">
    <div class="input">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Üzenet</mat-label>
        <input matInput type="text" placeholder="Üzenet" [(ngModel)]="message" name="message" />
      </mat-form-field>
    </div>
    <div class="button col col-12">
      <button
        mat-raised-button
        color="primary"
        class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-2 offset-lg-5"
        (click)="sendMessage()"
      >
        Küldés
      </button>
    </div>
  </form>
</div>
