<form class="panel col col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 border rounded" [formGroup]="form">
  <div class="text-center p-1 border rounded title">
    Bejelentkezés
  </div>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Felhasználónév</mat-label>
    <input matInput placeholder="Felhasználónév" formControlName="username" />
    <mat-error *ngIf="form.get('username').hasError('required')">A felhasználónév megadás kötelező</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Jelszó</mat-label>
    <input matInput placeholder="Jelszó" type="password" formControlName="password" />
    <mat-error *ngIf="form.get('password').hasError('required')">A jelszó megadás kötelező</mat-error>
  </mat-form-field>

  <div class="text-center">
    <button mat-raised-button color="primary" (click)="login()">Bejelentkezés</button>
  </div>
</form>
