.data-table {
  padding: 1rem;

  table {
    width: 100%;
  }
}

::ng-deep th .mat-sort-header-button {
  font-size: 15px !important;
  color: #683ab7;
}

th {
  font-size: 15px !important;
  color: #683ab7;
}
