<div class="col col-12 row panel">
  <div class="col col-4 menu">
    <div class="events border rounded">
      <div class="title text-center border rounded">Eseményeid</div>
      <div
        *ngFor="let event of events"
        class="event rounded"
        [routerLink]="['/events', event.id, currentPage]"
        routerLinkActive="router-link-active"
        [ngClass]="{ purple: event.id === +currentEventId }"
      >
        {{ event.name }}
      </div>
      <div class="event rounded" *ngIf="!currentEvent.id">
        Nincs eseményed :(
      </div>
    </div>
    <div class="menuitems border rounded" *ngIf="currentEvent.id">
      <div class="title text-center border rounded">Menü</div>
      <div *ngFor="let item of menuItems">
        <div
          class="item rounded"
          [routerLink]="['/events', currentEventId, item.link]"
          routerLinkActive="router-link-active"
          [ngClass]="{ purple: item.link === currentPage }"
          *ngIf="item.accessLevel <= accessLevel"
        >
          {{ item.name }}
        </div>
      </div>
      <div>
        <div class="item rounded" *ngIf="accessLevel >= 3" (click)="disableEvent()">Esemény deaktiválása</div>
      </div>
    </div>
  </div>
  <div class="col col-8 changer" *ngIf="currentEvent.id">
    <mat-card class="card">
      <div [ngSwitch]="currentPage">
        <app-event-details
          *ngSwitchCase="'details'"
          [event]="currentEvent"
          [accessLevel]="accessLevel"
          (lock)="lockEvent($event)"
          (increaseVisitors)="increaseVisitors($event)"
          (decreaseVisitors)="decreaseVisitors($event)"
          (increaseInjured)="increaseInjured($event)"
          (decreaseInjured)="decreaseInjured($event)"
        ></app-event-details>
        <app-event-csomor *ngSwitchCase="'csomor'" [event]="currentEvent"></app-event-csomor>
        <app-event-chat *ngSwitchCase="'chat'"></app-event-chat>
        <app-event-generator *ngSwitchCase="'generator'" [event]="currentEvent"></app-event-generator>
        <app-event-settings
          *ngSwitchCase="'settings'"
          [event]="currentEvent"
          (update)="updateEvent($event)"
        ></app-event-settings>
        <app-event-summary *ngSwitchCase="'summary'" [event]="currentEvent"></app-event-summary>
        <app-event-to-do *ngSwitchCase="'todo'" [event]="currentEvent"></app-event-to-do>
        <app-event-members
          *ngSwitchCase="'members'"
          [event]="currentEvent"
          [accessLevel]="accessLevel"
        ></app-event-members>
        <app-event-teams *ngSwitchCase="'teams'" [event]="currentEvent"></app-event-teams>
      </div>
    </mat-card>
  </div>
</div>
