<div class="col col-12 row panel">
  <div class="col col-4 menu">
    <div class="events border rounded">
      <div class="title text-center border rounded">Eseményeid</div>
      <div
        *ngFor="let event of events"
        class="event rounded"
        [routerLink]="['/events', event.id, currentPage]"
        routerLinkActive="router-link-active"
        [ngClass]="{ purple: event.id === +currentEventId }"
      >
        {{ event.name }}
      </div>
    </div>
    <div class="menuitems border rounded">
      <div class="title text-center border rounded">Menü</div>
      <div
        class="item rounded"
        *ngFor="let item of menuItems"
        [routerLink]="['/events', currentEventId, item.link]"
        routerLinkActive="router-link-active"
        [ngClass]="{ purple: item.link === currentPage }"
      >
        {{ item.name }}
      </div>
    </div>
  </div>
  <div class="col col-8 changer" *ngIf="currentEvent">
    <div class="alert" [ngClass]="{ 'alert-danger': !updateIsSuccess, 'alert-success': updateIsSuccess }" *ngIf="alert">
      <strong *ngIf="!updateIsSuccess">HIBA!</strong> {{ alert }}
    </div>
    <div [ngSwitch]="currentPage">
      <app-event-details
        *ngSwitchCase="'details'"
        [event]="currentEvent"
        (lock)="lockEvent($event)"
        (increaseVisitors)="increaseVisitors($event)"
        (decreaseVisitors)="decreaseVisitors($event)"
        (increaseInjured)="increaseInjured($event)"
        (decreaseInjured)="decreaseInjured($event)"
        (alert)="updateAlert($event)"
      ></app-event-details>
      <app-event-csomor *ngSwitchCase="'csomor'"></app-event-csomor>
      <app-event-chat *ngSwitchCase="'chat'"></app-event-chat>
      <app-event-generator *ngSwitchCase="'generator'"></app-event-generator>
      <app-event-settings
        *ngSwitchCase="'settings'"
        [event]="currentEvent"
        (alert)="updateAlert($event)"
        (update)="updateEvent($event)"
      ></app-event-settings>
      <app-event-summary *ngSwitchCase="'summary'"></app-event-summary>
      <app-event-to-do *ngSwitchCase="'todo'"></app-event-to-do>
    </div>
  </div>
</div>
