.personal {
  .row {
    margin: 0;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.2rem;
  }

  .over {
    background-color: #9a68f1af !important;
    transition-duration: 0.5s;
  }

  .current{
    border: 3px solid red !important;
    background: #fc7272;
  }

  .row:nth-child(even) {
    background-color: #9a68f13d;
  }
}

.buttons {
  margin: 0;
  margin-bottom: 0.5rem;

  div {
    text-align: center;

    button {
      margin-bottom: 0.2rem;
      margin-top: 0.2rem;
    }
  }
}
