<div *ngIf="eventWorkers.length > 0">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Szervező</mat-label>
    <mat-select [(ngModel)]="selectedWorker" (selectionChange)="changeWorker()">
      <mat-option [value]="i" *ngFor="let worker of eventWorkers; let i = index">{{ worker.name }} </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row col-12 buttons">
    <div class="col col-12 col-md-4">
      <button mat-raised-button color="warn" *ngIf="selectedWorker > 0"
        (click)="selectedWorker = selectedWorker - 1; getWorkerTables()"
        title="Elöző személy ({{eventWorkers[selectedWorker - 1].name}})">
        <mat-icon>navigate_before</mat-icon> Elöző
      </button>
    </div>
    <div class="col col-12 col-md-4">
      <button mat-stroked-button (click)="exportPersonal()"
        title="Export csömör {{eventWorkers[selectedWorker].name}} számára">Export <mat-icon>save_alt</mat-icon>
      </button>
    </div>
    <div class="col col-12 col-md-4">
      <button mat-raised-button color="primary" *ngIf="selectedWorker < eventWorkers.length - 1"
        (click)="selectedWorker = selectedWorker + 1; getWorkerTables()" class="float-right"
        title="Következő személy ({{eventWorkers[selectedWorker + 1].name}})">
        Következő <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
  <div class="personal">
    <div class="row col col-12 border rounded"
      [ngClass]="{ over: hoverValue === table.work, current: checkCurrent(table) }" *ngFor="let table of workerTables"
      (mouseover)="hoverValue = table.work" (mouseleave)="hoverValue = ''">
      <div class="col col-12 col-md-6 text-center">{{ table.hour | convertToHour }}</div>
      <div class="col col-12 col-md-6 text-center">{{ table.work | exists }}</div>
    </div>
  </div>
</div>
