/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './theme.scss';
@import './variables';

* {
  font-family: 'Bree Serif', serif !important;
  font-size: $font-size;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

mat-error {
  font-size: $small-font-size;
}

.activeMenu {
  color: $accent !important;
}

.panel-title {
  background-color: $primary;
  color: $white;
  font-size: $header-font-size;
}

mat-toolbar.page-header {
  border-radius: 4px;
  .title {
    font-size: $header-font-size;
    margin: 0 auto;
  }
}

.error-snackbar {
  background-color: $warn;
}

.warning-snackbar {
  background-color: $accent;
}

.success-snackbar {
  background-color: $green-dark;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background: $primary-lighter;
}

::-webkit-scrollbar-thumb {
  background: $primary-light;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
