/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

$main-color: #683ab7;

* {
  font-family: 'Bree Serif', serif !important;
  font-size: 20px;
}

.activeMenu {
  color: rgba(54, 202, 228, 0.685);
}

.panel-title {
  background-color: #683ab7;
  color: white;
  font-size: 150%;
}

.error-snackbar {
  background-color: rgba(95, 7, 7, 0.781);
}

.warning-snackbar {
  background-color: rgba(105, 105, 5, 0.787);
}

.success-snackbar {
  background-color: rgba(5, 46, 5, 0.774);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background: #b99ee7;
}

::-webkit-scrollbar-thumb {
  background: #683ab7;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5812cf;
}
