@import 'src/variables.scss';

.work {
  .row {
    margin: 0;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.2rem;
  }

  .over {
    background-color: $primary-light !important;
    transition-duration: 0.5s;
  }

  .current {
    border: 3px solid $red !important;
    background: $red-light !important;
    color: black !important;
  }

  .row {
    transition-duration: 0.75s;
  }

  .row:nth-child(even) {
    background-color: $blue-light;
  }
}

.buttons {
  margin: 0;
  margin-bottom: 0.75rem;

  div {
    text-align: center;

    button {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
  }
}
