<div *ngIf="eventWorks.length > 0">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Poszt</mat-label>
    <mat-select [(ngModel)]="selectedWork" (selectionChange)="changeWork()">
      <mat-option [value]="i" *ngFor="let work of eventWorks; let i = index">{{ work.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row col-12 buttons">
    <div class="col col-12 col-md-4">
      <button mat-raised-button color="warn" *ngIf="selectedWork > 0"
        (click)="selectedWork = selectedWork - 1; getWorkTables()"
        title="Elöző poszt ({{eventWorks[selectedWork - 1].name}})">
        <mat-icon>navigate_before</mat-icon> Elöző
      </button>
    </div>
    <div class="col col-12 col-md-4">
      <button mat-stroked-button (click)="exportWork()"
        title="Export csömör {{eventWorks[selectedWork].name}} poszthoz">Export <mat-icon>save_alt</mat-icon></button>
    </div>
    <div class="col col-12 col-md-4">
      <button mat-raised-button color="primary" *ngIf="selectedWork < eventWorks.length - 1"
        (click)="selectedWork = selectedWork + 1; getWorkTables()" class="float-right"
        title="Következő poszt ({{eventWorks[selectedWork + 1].name}})">
        Következő <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
  <div class="work">
    <div class="row col col-12 border rounded"
      [ngClass]="{ over: hoverValue === table.worker, current: checkCurrent(table) }" *ngFor="let table of workTables"
      (mouseover)="hoverValue = table.worker" (mouseleave)="hoverValue = ''">
      <div class="col col-12 col-md-6 text-center">{{ table.hour | convertToHour }}</div>
      <div class="col col-12 col-md-6 text-center">{{ table.worker | exists }}</div>
    </div>
  </div>
</div>
