<div mat-dialog-content>
  <div class="text-center panel-title border rounded">Új kifizetés/befizetés</div>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Név</mat-label>
    <input matInput type="text" placeholder="Név" [formControl]="nameControl" />
    <mat-error *ngIf="nameControl.hasError('required')">A név megadása kötelező!</mat-error>
    <mat-error *ngIf="nameControl.hasError('maxlength')">A név maximum hossza 75 karakter lehet!</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Összeg</mat-label>
    <input matInput type="number" placeholder="Összeg" [formControl]="costControl" />
    <mat-error *ngIf="costControl.hasError('required')">A összeg megadása kötelező!</mat-error>
    <mat-error *ngIf="costControl.hasError('min')">A összeg minimum értéke 0 legyen!</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Típus</mat-label>
    <mat-select [formControl]="typeControl">
      <mat-option *ngFor="let type of data" [value]="type.id">
        {{ type.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="typeControl.hasError('required')">A típus megadása kötelező!</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Mégsem</button>
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    cdkFocusInitial
    [disabled]="nameControl.invalid || costControl.invalid || typeControl.invalid"
  >
    Mentés
  </button>
</div>
