@import 'src/variables.scss';

.todoes {
  padding: 0.2rem;
  margin: 0;
  .todo-frame {
    padding: 0.2rem;
    .todo {
      padding: 0.2rem;
    }

    .imp1 {
      background-color: $important-1;
    }

    .imp2 {
      background-color: $important-2;
    }

    .imp3 {
      background-color: $important-2;
    }

    .solved {
      background-color: $solved;
    }

    .exp {
      border: 5px solid $exp !important;
    }
  }
}
