<form class="panel col col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 border rounded" [formGroup]="form">
  <div class="text-center p-1 border rounded title">
    Jelszó újra kérés
  </div>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Felhasználónév</mat-label>
    <input matInput placeholder="Felhasználónév" autocomplete="off" formControlName="username" />
    <mat-error *ngIf="form.get('username').hasError('required')">A felhasználónév megadása kötelező!</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>E-mail cím</mat-label>
    <input matInput placeholder="Jelszó" type="email" autocomplete="off" formControlName="email" />
    <mat-error *ngIf="form.get('email').hasError('required')">Az e-mail cím megadása kötelező!</mat-error>
    <mat-error *ngIf="form.get('email').hasError('email')">Az e-mail cím formátum helytelen!</mat-error>
  </mat-form-field>

  <div class="text-center">
    <button mat-raised-button color="primary" (click)="reset()">Küldés</button>
  </div>
  <button mat-stroked-button [routerLink]="['/login']" class="mt-2">
    Belépés
  </button>
</form>
