@import 'src/variables.scss';

.class {
  padding: 0.2rem;
  .title {
    font-weight: bold;
  }

  .name {
    color: $warn;
  }
  .members {
    .member {
      margin: 0.2rem;
    }
  }
  .buttons {
    margin-top: 0.65rem;
    button {
      margin: 0.2rem;
    }
  }
}
