.class {
  padding: 0.2rem;
  .title {
    font-weight: bold;
  }

  .name {
    color: rgba(255, 0, 0, 0.75);
  }
  .members {
    .member {
      margin: 0.2rem;
    }
  }
  .buttons {
    button {
      margin: 0.2rem;
    }
  }
}
