<form class="panel col col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 border rounded" [formGroup]="form">
  <div class="text-center p-1 border rounded title">
    Regisztráció
  </div>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Felhasználónév</mat-label>
    <input matInput placeholder="Felhasználónév" autocomplete="off" formControlName="username" />
    <mat-error *ngIf="form.get('username').hasError('required')">A felhasználónév megadás kötelező</mat-error>
    <mat-error *ngIf="form.get('username').hasError('maxlength')"
      >A felhasználónév hossza maximum 50 karakter lehet</mat-error
    >
    <mat-error *ngIf="form.get('username').hasError('minlength')"
      >A felhasználónév hossza minimum 6 karakternek kell lennie</mat-error
    >
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Jelszó</mat-label>
    <input matInput placeholder="Jelszó" type="password" autocomplete="off" formControlName="password" />
    <mat-error *ngIf="form.get('password').hasError('required')">A jelszó megadás kötelező</mat-error>
    <mat-error *ngIf="form.get('password').hasError('maxlength')">A jelszó hossza maximum 50 karakter lehet</mat-error>
    <mat-error *ngIf="form.get('password').hasError('minlength')"
      >A jelszó hossza minimum 8 karakternek kell lennie
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Jelszó újra</mat-label>
    <input matInput placeholder="Jelszó újra" type="password" autocomplete="off" formControlName="rePassword" />
    <mat-error *ngIf="form.get('rePassword').hasError('required')">A jelszó megadás kötelező</mat-error>
    <mat-error *ngIf="form.get('rePassword').hasError('maxlength')"
      >A jelszó hossza maximum 50 karakter lehet</mat-error
    >
    <mat-error *ngIf="form.get('rePassword').hasError('minlength')"
      >A jelszó hossza minimum 8 karakternek kell lennie
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="E-mail" type="email" autocomplete="off" formControlName="email" />
    <mat-error *ngIf="form.get('email').hasError('required')">Az e-mail cím megadás kötelező</mat-error>
    <mat-error *ngIf="form.get('email').hasError('email')">Az e-mail cím formája nem helyes</mat-error>
    <mat-error *ngIf="form.get('email').hasError('maxLength')"
      >Az e-mail cím hossza maximum 255 karakter lehet</mat-error
    >
  </mat-form-field>

  <div class="text-center">
    <button mat-raised-button color="primary" (click)="reg()">Regisztráció</button>
  </div>
</form>
