@import 'src/variables.scss';

.panel {
  padding: 0.5rem;
  margin-top: 3rem;
  .title {
    color: $white;
    background-color: $primary;
    margin-bottom: 1rem;
    font-size: $header-font-size;
  }
}
